@using System.Net
@using System.Net.Http;
@using System.Net.Http.Headers;
@using DiscoverUO.Lib.Shared
@using DiscoverUO.Lib.Shared.Contracts
@inject ISnackbar snackbar
@inject NavigationManager navManager
@inject HttpClient client

@if( ServerData != null )
{
    <MudPaper>
        <MudItem Class="mt-4 pa-4 mud-theme-secondary">
            <MudCard>
                <MudCardContent>
                    <MudText Typo="Typo.h2" Align="Align.Center">@ServerData.ServerName</MudText>
                    @if (ShowBanner( ServerData.ServerBanner ))
                    {
                        <MudCardMedia Height="150" Image="@ServerData.ServerBanner" /> 
                    }
                    <MudText Typo="Typo.h5" Align="Align.Center">Server Era: @ServerData.ServerEra, PvP Enabled: @ServerData.PvPEnabled, @ServerData.Votes Votes</MudText>
                    <MudText Typo="Typo.h5" Align="Align.Center">Server Address: @ServerData.ServerAddress</MudText>
                    <MudText Typo="Typo.h5" Align="Align.Center">Server Port: @ServerData.ServerPort</MudText>
                    <MudText Typo="Typo.h5" Align="Align.Center">
                        Shard Website: <a target="_blank" href="@ServerData.ServerWebsite">@ServerData.ServerWebsite</a>
                    </MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudSpacer />
                    <MudText Typo="Typo.h5" Align="Align.Center">Server ID: @ServerData.Id</MudText>
                    <MudSpacer />

                    @if(UserSession.UserAuthenticated )
                    {
                        <MudButton Variant="Variant.Outlined" OnClick="@(() => AddToFavorites(ServerData))" Color="Color.Primary">Favorite</MudButton>
                        <MudButton Variant="Variant.Outlined" Color="Color.Primary">Vote</MudButton>
                    }
                    <MudSpacer />
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudPaper>
}

@code {
    [Parameter]
    public ServerData ServerData{ get; set; }

    [CascadingParameter]
    public SessionManager UserSession{ get; set; }

    private bool ShowBanner( string banner)
    {
        if (!string.IsNullOrEmpty(banner))
        {
            if (IsValidUrl(banner))
            {
                if (IsValidImageUrl(banner) )
                    return true;
            }
        }

        return false;
    }

    private bool ServerIsFavorited( int id )
    {
        var getFavsRsp = UserSession.GetUserFavoritesData(client);

        if( !getFavsRsp.Success )
            return false;

        var favData = UserSession.UserFavorites.FavoritedItems.Where(s => s.Id == id).ToList();

        if( favData != null && favData.Count > 0 )
            return true;

        return false;
    }

    private async Task AddToFavorites(ServerData data)
    {
        if (!UserSession.UserAuthenticated)
        {
            snackbar.Add($"You must be logged in to add a server to your favorites list.", Severity.Error);
            return;
        }

        if (ServerIsFavorited(data.Id ))
        {
            snackbar.Add($"You can only add a server to your favorites list once.", Severity.Error);
            return;
        }

        var favItemData = new FavoriteItemData
            {
                ServerId = data.Id,
                ServerName = data.ServerName,
                ServerAddress = data.ServerAddress,
                ServerPort = data.ServerPort,
                ServerEra = data.ServerEra,
                PvPEnabled = data.PvPEnabled,
                ServerWebsite = data.ServerWebsite,
                ServerBanner = data.ServerBanner
            };

        var favItemRsp = UserSession.AddUserFavoritesItem(favItemData, client);

        if( favItemRsp.Success )
        {
            snackbar.Add("Server successfully added to your favorites!", Severity.Success);
        }
        else
        {
            if (favItemRsp is ExceptionThrownResponse)
            {
                ExceptionThrownResponse exeThrown = favItemRsp as ExceptionThrownResponse;

                snackbar.Add($"Failure to add server to favorites.", Severity.Error);
                Console.WriteLine(exeThrown.Message);
            }
            else
            {
                snackbar.Add($"Failure to add server to favorites: {favItemRsp.Message}", Severity.Error);
            }
        }

        StateHasChanged();
    }

    public static bool IsValidUrl(string url)
    {
        try
        {
            Uri.TryCreate(url, UriKind.Absolute, out Uri result);
            return (result != null) && (result.Scheme == Uri.UriSchemeHttp || result.Scheme == Uri.UriSchemeHttps);
        }
        catch (Exception)
        {
            return false;
        }
    }

    public bool IsValidImageUrl(string imageUrl)
    {
        using (var httpClient = new HttpClient())
        {
            httpClient.DefaultRequestHeaders.Accept.TryParseAdd("image/*");

            try
            {
                var response = httpClient.SendAsync(new HttpRequestMessage(HttpMethod.Head, imageUrl)).Result;
                return response.IsSuccessStatusCode && response.Content.Headers.ContentType.MediaType.StartsWith("image/");
            }
            catch (Exception)
            {
                return false;
            }
        }
    }
}
