@page "/dashboard"
@using DiscoverUO.Lib.Shared
@using DiscoverUO.Lib.Shared.Favorites
@using DiscoverUO.Lib.Shared.Servers
@using DiscoverUO.Lib.Shared.Users
@using DiscoverUO.Web.Components.Data
@using System.Net.Http.Headers
@inject ILocalStorageService _localStorage
@inject NavigationManager _navManager
@inject HttpClient _client

<PageTitle>Dashboard</PageTitle>

<MudContainer>
    @if( DashboardData != null )
    {
        <p style="font-size: 36px">

            Welcome back, @DashboardData?.Username!.<br />
        
        </p>
        <p style="font-size: 24px">

            User Display Name: @DashboardData.UserDisplayName<br />
            User Biography: @DashboardData.UserBiography<br />
            User Avatar: @DashboardData.UserAvatar<br />
            User Email: @DashboardData.Email<br />
            User Creation Date: @DashboardData.CreationDate<br />
            User Remaining Vote : @DashboardData.DailyVotesRemaining<br />

        </p>

            @if (DashboardData.Favorites != null && DashboardData.Favorites.FavoritedItems.Count > 0 )
            {
                <p style="font-size: 24px">

                    @DashboardData.Username's Favorites:<br />

                </p>

                @foreach (FavoriteItemData itemData in DashboardData.Favorites.FavoritedItems)
                {
                    <p style="font-size: 12px">

                                 Server Name: @itemData.ServerName<br />
                        Server ServerAddress: @itemData.ServerAddress<br />
                                 Server Port: @itemData.ServerPort<br />
                                  Server Era: @itemData.ServerEra<br />
                                 PvP Enabled: @itemData.PvPEnabled<br />

                    </p>
                }
            }
    }

</MudContainer>

@code
{
    public DashboardData DashboardData { get; set; }

    protected async override Task OnInitializedAsync()
    {
        if (DashboardData != null)
            return;

        DashboardData = await DataManager.GetDashboard(_client, _localStorage);
        StateHasChanged();
    }
}