@page "/dashboard"
@using DiscoverUO.Lib.Shared
@using DiscoverUO.Lib.Shared.Users
@using DiscoverUO.Web.Components.Data
@using System.Net.Http.Headers
@inject ILocalStorageService _localStorage
@inject HttpClient _client

@if (dashboard == null)
{
    @if (ShowErrorMessage)
    {
        <p><em>Error: @ErrorMessage</em></p>
    }
    else
    {
        <p><em>Loading...</em></p>
    }
}
else
{

<div class="dashboard">
    <div>
        <div>
            <label>Username  : @dashboard.UserDisplayName</label>
        </div>
        <div>
            <label>User Daily Votes Remaining: @dashboard.DailyVotesRemaining</label>
        </div>
        <div>
            <label>User Email: @dashboard.Email</label>
        </div>
        <div>
            <label>User Avatar: @dashboard.UserAvatar</label>
        </div>
        <div>
            <label>User Biography: @dashboard.UserBiography</label>
        </div>
        <div>
            <label>User Role: @dashboard.Role</label>
        </div>
    </div>
</div>
}

@code
{
    public string ErrorMessage { get; set; }
    public bool ShowErrorMessage { get; set; }
    public DashboardRequest dashboard{ get; set;
    }

    protected async override Task OnInitializedAsync()
    {
        dashboard = await DataManager.GetDashboard(_client, _localStorage);
        StateHasChanged();
    }
}